<h2 id="title">Welcome to Ember.js</h2>
{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
  {{#link-to 'secret'}}Secret{{/link-to}}
  {{#link-to 'login'}}Login{{/link-to}}
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<br/>
{{outlet}}